<h3>{{ _('Spatial Fields') }}</h3>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th scope="col">{{ _('Field') }}</th>
      <th scope="col">{{ _('Value') }}</th>
    </tr>
  </thead>
  <tbody>
    {% if data.get('loc_keyword') %}
      <tr>
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Spatial Keyword")}}</th>
        {% for value, label in h.get_loc_keyword() %}
          {% if data.get('loc_keyword') == value %}
            <td class="dataset-details" property="rdf:value">{{ label }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endif %} 
    
    {% if data.get('x_min') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("X.min") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('x_min') }}</td>
      </tr>
    {% endif %}

    {% if data.get('x_max') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("X.max") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('x_max') }}</td>
      </tr>
    {% endif %}

    {% if data.get('y_min') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Y.min") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('y_min') }}</td>
      </tr>
    {% endif %}

    {% if data.get('y_max') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Y.max") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('y_max') }}</td>
      </tr>
    {% endif %}

    {% if data.get('spatial') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Spatial") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('spatial') }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>
