<h3>{{ _('Keywords') }}</h3>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th scope="col">{{ _('Field') }}</th>
      <th scope="col">{{ _('Value') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(5) %}
      {% if data.get('theme_keyword_'+(i+1)|string) %}
        <tr>
	   <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Theme Keyword") }} {{ i+1 }}</th>
            {% for value, label in h.get_theme_keywords() %}
              {% if data.get('theme_keyword_'+(i+1)|string) == value %}
                <td class="dataset-details" property="rdf:value">{{ label }}</td>
              {% endif %}
            {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
