{% ckan_extends %}

{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work. #}

{% if data.get('extras', [])|length %}
  {% set extras_dict = h.extras_to_dict(data) %}
{% else %}
  {% set extras_dict = data %}
{% endif %}


{% block package_metadata_fields_version %}
{% endblock %}

{% block package_metadata_author %}
  {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium'], is_required=true) }}
  {{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
  {{ form.input('author_phone', label=_('作者聯絡電話'), id='field-author-phone', placeholder=_('02-12345678'), value=extras_dict.get('author_phone'), error=errors.author_phone, classes=['control-medium']) }}
{% endblock %}

{% block package_metadata_fields_maintainer %}
  {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}
  {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
  {{ form.input('maintainer_phone', label=_('維運者聯絡電話'), id='field-maintainer-phone', placeholder=_('02-12345678'), value=extras_dict.get('maintainer_phone'), error=errors.maintainer_phone, classes=['control-medium']) }}
{% endblock %}

{% block custom_fields %}
{% endblock %}
