<h3>{{ _('Book') }}</h3>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th scope="col">{{ _('Field') }}</th>
      <th scope="col">{{ _('Value') }}</th>
    </tr>
  </thead>
  <tbody>
    {% if data.get('book_isbn') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("ISBN-13") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_isbn') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_issn') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("ISSN") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_issn') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_journal') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Journal") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_journal') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_volume') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Volume") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_volume') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_proceeding') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Proceeding") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_proceeding') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_location') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Location") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_location') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_publisher') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Publisher") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_publisher') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_year') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Publication Year") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_year') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_query') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Book Query") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_query') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_url') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("URL") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_url') }}</td>
      </tr>
    {% endif %}

    {% set book_hist_material = [] %}
    {% if data.get('book_from_local_chronicles_in_qing_dynasty') == 'yes' %}
      {% do book_hist_material.append("清代方志") %}
    {% endif %}
    {% if data.get('book_from_japan_officials') == 'yes' %}
      {% do book_hist_material.append("日治出版品與官方資料") %}
    {% endif %}
    {% if data.get('book_from_officials_in_postwar_period') == 'yes' %}
      {% do book_hist_material.append("戰後官方資料與鄉鎮志") %}
    {% endif %}
    {% if data.get('book_from_inscriptions') == 'yes' %}
      {% do book_hist_material.append("碑文") %}
    {% endif %}
    {% if data.get('book_from_newspapers') == 'yes' %}
      {% do book_hist_material.append("報紙") %}
    {% endif %}
    {% if data.get('book_from_maps') == 'yes' %}
      {% do book_hist_material.append("地圖") %}
    {% endif %}
    {% if data.get('book_from_taiwanese_governor_office_files') == 'yes' %}
      {% do book_hist_material.append("台灣總督府檔案（公文類纂、府報、調查報告、職員錄、衛生法規）") %}
    {% endif %}
    {% if data.get('book_from_dutch_formosa') == 'yes' %}
      {% do book_hist_material.append("荷治時期檔案") %}
    {% endif %}
    {% if data.get('book_from_field_researches') == 'yes' %}
      {% do book_hist_material.append("地方田野收集文獻（族譜、寺廟志、帳冊、契約）") %}
    {% endif %}

    {% if book_hist_material|length != 0 %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Historical Material") }}</th>
        <td class="dataset-details" property="rdf:value">{{ book_hist_material|join("、") }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_area_village') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Village of Research Area") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_area_village') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_area_religion') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Religion of Research Area") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_area_religion') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_area_family') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Family of Research Area") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_area_family') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_area_reservoir') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Reservoir of Research Area") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_area_reservoir') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_area_industry') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Industry of Research Area") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_area_industry') }}</td>
      </tr>
    {% endif %}

    {% if data.get('book_notes') %}
      <tr "dc:relation">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Notes") }}</th>
        <td class="dataset-details" property="rdf:value">{{ data.get('book_notes') }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>
