{% import 'macros/form.html' as form %}

{% if data.get('extras', [])|length %}
  {% set extras_dict = h.extras_to_dict(data) %}
  {% else %}
    {% set extras_dict = data %}
{% endif %}

{% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}
{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes) }}
{% endblock %}

{% block package_basic_fields_custom %}
  {{ form.input('identifier', id='field-identifier', label=_('Identifier'), value=extras_dict.get('identifier'), error=errors.identifier, classes=['control-medium']) }}
  {% snippet 'snippets/data_type_list.html', data=extras_dict, errors=errors, field_name='data_type' %}
  {% snippet 'snippets/proj_list.html', data=extras_dict, errors=errors, field_name='proj' %}
{% endblock %}

{% snippet 'snippets/extended_fields.html', data=extras_dict, errors=errors %}

{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset')|sort(attribute='name') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available and (user_is_sysadmin or dataset_is_draft) %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_organizations_selector and show_visibility_selector %}
    <div data-module="dataset-visibility">
  {% endif %}
  
  {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          {% if h.check_config_permission('create_unowned_dataset') %}
             <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
	  {% endif %}
          {% for organization in organizations_available %}
            {# get out first org from users list only if there is not an existing org #}
            {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}

  {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
      <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
          <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}
  {% endif %}

  {% if show_organizations_selector and show_visibility_selector %}
    </div>
  {% endif %}

  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block package_temporal_fields %}
  <legend><h2> {{ _('Temporal Information') }} </h2></legend>
  {% snippet 'snippets/time_period_list.html', field_name='time_period' %}
  {% snippet 'snippets/temp_res_list.html', data=extras_dict, errors=errors, field_name='temp_res' %}

  <div class="control-group">
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
      {% trans %}Depend on the temporal resolution setting. Acceptable formats: 'YYYY', 'YYYY-MM', or 'YYYY-MM-DD'.{% endtrans %}
    </span>
    {% set start_time = extras_dict.get('start_time') %}
    {% if start_time != None %}
      {% set start_time = h.date_to_iso(start_time, extras_dict.get('temp_res')) %}
    {% endif %}
    {{ form.input('start_time', id='field-start-time', label=_('Start Time'), value=start_time, error=errors.start_time) }}
  </div>

  <div class="control-group">
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
      {% trans %}Depend on the temporal resolution setting. Acceptable formats: 'YYYY', 'YYYY-MM', or 'YYYY-MM-DD'.{% endtrans %}
    </span>
    {% set end_time = extras_dict.get('end_time') %}
    {% if end_time != None %}
      {% set end_time = h.date_to_iso(end_time, extras_dict.get('temp_res')) %}
    {% endif %}
    {{ form.input('end_time', id='field-end-time', label=_('End Time'), value=end_time, error=errors.end_time) }}
  </div>
{% endblock %}

{% block package_contact_fields %}
  <legend><h2> {{ _('Contact Information') }} </h2></legend>
  {{ form.input('author_name', id='field-author-name', label=_('Author'), placeholder=_('Joe Bloggs'), value=extras_dict.get('author_name'), error=errors.author_name, is_required=true, classes=['control-medium']) }}
  {{ form.input('author_mail', id='field-author-email', label=_('Author Email'), placeholder=_('joe@example.com'), value=extras_dict.get('author_mail'), error=errors.author_email, classes=['control-medium']) }}
  {{ form.input('author_phone', id='field-author-phone', label=_('Author Phone'), placeholder=_('02-12345678'), value=extras_dict.get('author_phone'), error=errors.author_phone, classes=['control-medium']) }}
  {{ form.input('maintainer_name', id='field-maintainer-name', label=_('Maintainer Name'), placeholder=_('Joe Bloggs'), value=extras_dict.get('maintainer_name'), error=errors.maintainer_name, classes=['control-medium']) }}
  {{ form.input('maintainer_mail', id='field-maintainer-email', label=_('Maintainer Email'), placeholder=_('joe@example.com'), value=extras_dict.get('maintainer_mail'), error=errors.maintainer_email, classes=['control-medium']) }}
  {{ form.input('maintainer_phone', id='field-maintainer-phone', label=_('Maintainer Phone'), placeholder=_('02-12345678'), value=extras_dict.get('maintainer_phone'), error=errors.maintainer_phone, classes=['control-medium']) }}
{% endblock %}

{% block package_theme_fields %}
  <legend><h2> {{ _('Keywords') }} </h2></legend>
  {% for i in range(5) %}
    {% snippet 'snippets/theme_keyword.html', data=extras_dict, field_name='theme_keyword_'+(i+1)|string, display_name = _("Theme Keyword")+' '+(i+1)|string %}
  {% endfor %} 
{% endblock %}

{% block package_spatial_fields %}
  <legend><h2> {{ _('Spatial Fields') }} </h2></legend>
  {% snippet 'snippets/loc_keyword.html', data=extras_dict, errors=errors, field_name='loc_keyword' %}
  {{ form.input('x_min', id='field-x-min', label=_('X.min'), placeholder=_('填寫圖資空間四至範圍之最西經度值'), value=extras_dict.get('x_min'), error=errors.x_min, classes=['control-medium']) }}
  {{ form.input('x_max', id='field-x-max', label=_('X.max'), placeholder=_('填寫圖資空間四至範圍之最東經度值'), value=extras_dict.get('x_max'), error=errors.x_max, classes=['control-medium']) }}
  {{ form.input('y_min', id='field-y-min', label=_('Y.min'), placeholder=_('填寫圖資空間四至範圍之最南緯度值'), value=extras_dict.get('y_min'), error=errors.y_min, classes=['control-medium']) }}
  {{ form.input('y_max', id='field-y-max', label=_('Y.max'), placeholder=_('填寫圖資空間四至範圍之最北緯度值'), value=extras_dict.get('y_max'), error=errors.y_max, classes=['control-medium']) }}
  {% set spatial_tooltip = "<pre><p>需為有效的 <b>GeoJSON</b> geometry 格式 (Polygon 與 Point)，例如：</p><p>{</p><p>\"type\":\"Polygon\",</p><p>\"coordinates\":[[[2.05827, 49.8625],[2.05827, 55.7447], [-6.41736, 55.7447], [-6.41736, 49.8625], [2.05827, 49.8625]]]</p><p>}</p></pre><p><b><a href='http://docs.ckan.org/projects/ckanext-spatial/en/latest/spatial-search.html#geo-indexing-your-datasets' target='_blank'>ckanext-spatial 官網相關說明</a></b></p>" %}
  <div class='control-group control-full'>
    <label class='control-label'>{{_('Spatial')}}</label>
    <div class='controls editor'>
      <textarea id="field-spatial" name="spatial" placeholder="{{_('Accept geojson')}}" cols="20" rows="3">{{ extras_dict.get('spatial')|empty_and_escape }}</textarea>
      <span class="editor-info-block">{{_('此欄位將作為空間索引之用。關於 GeoJSON 格式請見 ')}}<a href="#spatial" title="spatial" data-target="popover" data-content="{{ spatial_tooltip }}" data-html="true">{{_('格式說明')}}</a>{{_('。')}}</span>
    </div>
  </div>
  <div class="control-group control-medium">
    <div class="controls">
      <button id='convert_from_four_range' class='btn btn-primary' type='button'>{{_('自四至範圍轉換')}}</button>
      <button id='show_map' class='btn btn-primary' type='button'>{{_('使用圖台新增')}}</button>
      <div id='map'></div>
    </div>
  </div>
{% endblock %}

{% block package_misc_fields %}
  <legend><h2> {{_('Miscellaneous') }} </h2></legend>
  {% snippet 'snippets/language_list.html', data=extras_dict, errors=errors, field_name='language' %}
  {% snippet 'snippets/encoding_list.html', data=extras_dict, errors=errors, field_name='encoding' %}

  {% block package_basic_fields_tags %}
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
  {% endblock %}

  {{ form.input('ref', id='field-ref', label=_('Reference'), value=extras_dict.get('ref'), error=errors.ref, classes=['control-medium']) }}
{% endblock %}

{% block package_basic_fields_license %}
<div class="control-group">
  {% set error = errors.license_id %}
  <label class="control-label" for="field-license">{{ _("License") }}</label>
  <div class="controls">
    <select id="field-license" name="license_id" data-module="autocomplete">
      {% for license_desc, license_id in licenses|sort if license_desc  %}
        <option value="{{ license_id }}" {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
      {% trans %}
        License definitions and additional information can be found
        at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
      {% endtrans %}
    </span>
  </div>
</div>
{% endblock %}
