[main]

dont_bundle = scripts/vendor/leaflet/leaflet.js scripts/vendor/leaflet/plugins/gmaps/gmapsapi.js scripts/vendor/leaflet/plugins/gmaps/Google.js scripts/vendor/leaflet/plugins/leaflet.draw/leaflet.draw.js scripts/vendor/leaflet/plugins/leaflet-geodesy/leaflet-geodesy.js scripts/map.js

[groups]

spatial_sel =

    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/plugins/leaflet.draw/leaflet.draw.css

    scripts/vendor/leaflet/leaflet.js
    scripts/vendor/leaflet/plugins/gmaps/gmapsapi.js
    scripts/vendor/leaflet/plugins/gmaps/Google.js
    scripts/vendor/leaflet/plugins/leaflet.draw/leaflet.draw.js
    scripts/vendor/leaflet/plugins/leaflet-geodesy/leaflet-geodesy.js
    scripts/map.js
