[main]

dont_bundle = scripts/vendor/leaflet/leaflet.js scripts/vendor/leaflet/plugins/gmaps/gmapsapi.js scripts/vendor/js-shapefile-to-geojson/shapefile.js scripts/vendor/js-shapefile-to-geojson/dbf.js scripts/vendor/js-shapefile-to-geojson/stream.js

order = scripts/vendor/jqueryui/jquery-ui.js scripts/vendor/momentjs/moment.js scripts/vendor/jquery-range-slider/jQDateRangeSlider-min.js

[groups]

main =
    styles/taijiang.css

package_form =
    scripts/vendor/jqueryui/jquery-ui.js
    scripts/vendor/leaflet/leaflet.js
    scripts/vendor/leaflet/plugins/gmaps/gmapsapi.js
    scripts/vendor/leaflet/plugins/gmaps/Google.js
    scripts/vendor/leaflet/plugins/leaflet.draw/leaflet.draw.js
    scripts/map.js
    scripts/data_type_sel.js
    scripts/temp_fields.js
    scripts/time_period.js

    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/plugins/leaflet.draw/leaflet.draw.css
    styles/map.css

date_facet_slider =
    scripts/vendor/jqueryui/jquery-ui.js
    scripts/vendor/jquery-range-slider/jQDateRangeSlider.js
    scripts/vendor/momentjs/moment.js
    scripts/vendor/date-facet.js
    scripts/facet_time_period.js

    scripts/vendor/jqueryui/jquery-ui.css
    scripts/vendor/jquery-range-slider/iThing.css
    styles/date-facet.css

wmts =
    scripts/vendor/leaflet/leaflet.js
    scripts/vendor/leaflet/plugins/leaflet.coordinates/Leaflet.Coordinates.js
    scripts/wmts_view.js

    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/plugins/leaflet.coordinates/Leaflet.Coordinates.css
    scripts/vendor/leaflet/plugins/leaflet.coordinates/Leaflet.Coordinates.ie.css
    styles/wmts_view.css

shp =
    scripts/vendor/proj4js/proj4.js
    scripts/vendor/leaflet/leaflet.js
    scripts/vendor/spinjs/spin.js
    scripts/vendor/leaflet/plugins/leaflet.spin/leaflet.spin.js
    scripts/vendor/js-shapefile-to-geojson/dbf.js
    scripts/vendor/js-shapefile-to-geojson/shapefile.js
    scripts/vendor/js-shapefile-to-geojson/stream.js
    scripts/vendor/jszip/jszip.js
    scripts/vendor/jszip/jszip-utils.js
    scripts/shp_view.js

    scripts/vendor/leaflet/leaflet.css
    styles/shp_view.css
