[groups]

spatial_sel =

    scripts/vendor/mapbox/mapbox.js
    scripts/vendor/mapbox/plugins/leaflet-draw/leaflet.draw.js
    scripts/vendor/mapbox/plugins/leaflet-geodesy/leaflet-geodesy.js
    scripts/taijiang.js

    scripts/vendor/mapbox/mapbox.css
    scripts/vendor/mapbox/plugins/leaflet-draw/leaflet.draw.css
    styles/taijiang.css
