{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {% set history_link = h.nav_link(_('History'), controller='package', action='history', id=pkg.name, icon='code-fork') %}
  {% set active_check = history_link|replace("active", "")|length %}
  <li{% if history_link|length != active_check %} class="active" {% endif %}>{{ history_link }}</li>
  {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
{% endblock %}
