/****************** Beta label ******************/
img#beta {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Additional info - used on both dataset and resource page */
.additional-info thead {
  display: none;
}

.additional-info th {
  width: 15%;
}

.additional-info td, .additional-info th {
  border-top: none;
}
