{% import 'macros/form.html' as form %}

<legend><h2> {{ _('Book') }} </h2></legend>
{{ form.input('book_isbn', id='field-book-isbn', label=_('ISBN-13'), placeholder=_('978-1-234-56789-7'), value=data.get('book_isbn'), error=errors.book_isbn, classes=['control-medium']) }}
{{ form.input('book_issn', id='field-book_issn', label=_('ISSN'), placeholder=_('1234-5678'), value=data.get('book_issn'), error=errors.book_issn, classes=['control-medium']) }}

<legend><h2> {{ _('Scanned Image') }} </h2></legend>
{{ form.input('scan_source', id='field-scan-source', label=_('Scan Source'), value=data.get('scan_source'), error=errors.scan_source, classes=['control-medium']) }}
{{ form.input('scan_size', id='field-scan-size', label=_('Scan Size'), placeholder=_('填寫原件尺寸大小，單位為公分，如 60x72'), value=data.get('scan_size'), error=errors.scan_size, classes=['control-medium']) }}
{{ form.input('scan_res', id='field-scan-res', label=_('Scan Resolution'), placeholder=_('填寫掃描解析度數值，單位為 DPI，如 300'), value=data.get('scan_res'), error=errors.scan_res, classes=['control-medium']) }}

<legend><h2> {{ _('Spatial Type') }} </h2></legend>
{{ form.input('x_min', id='field-x-min', label=_('X.min'), placeholder=_('填寫圖資空間四至範圍之最西經度值'), value=data.get('x_min'), error=errors.x_min, classes=['control-medium']) }}
{{ form.input('x_max', id='field-x-max', label=_('X.max'), placeholder=_('填寫圖資空間四至範圍之最東經度值'), value=data.get('x_max'), error=errors.x_max, classes=['control-medium']) }}
{{ form.input('y_min', id='field-y-min', label=_('Y.min'), placeholder=_('填寫圖資空間四至範圍之最南緯度值'), value=data.get('y_min'), error=errors.y_min, classes=['control-medium']) }}
{{ form.input('y_max', id='field-y-max', label=_('Y.max'), placeholder=_('填寫圖資空間四至範圍之最北緯度值'), value=data.get('y_max'), error=errors.y_max, classes=['control-medium']) }}
{% set spatial_tooltip = "<pre><p>需為有效的 <b>GeoJSON</b> geometry 格式 (Polygon 與 Point)，例如：</p><p>{</p><p>\"type\":\"Polygon\",</p><p>\"coordinates\":[[[2.05827, 49.8625],[2.05827, 55.7447], [-6.41736, 55.7447], [-6.41736, 49.8625], [2.05827, 49.8625]]]</p><p>}</p></pre><p><b><a href='http://docs.ckan.org/projects/ckanext-spatial/en/latest/spatial-search.html#geo-indexing-your-datasets' target='_blank'>ckanext-spatial 官網相關說明</a></b></p>" %}
<div class='control-group control-full'>
  <label class='control-label'>{{_('Spatial')}}</label>
  <div class='controls editor'>
     <textarea id="field-spatial" name="spatial" placeholder="{{_('Accept geojson')}}" cols="20" rows="3">{{ data.get('spatial')|empty_and_escape }}</textarea>
     <span class="editor-info-block">{{_('此欄位將作為空間索引之用。關於 GeoJSON 格式請見 ')}}<a href="#spatial" title="spatial" data-target="popover" data-content="{{ spatial_tooltip }}" data-html="true">{{_('格式說明')}}</a>{{_(' 或使用 ')}}<a href='http://geojson.io' target='_blank'>{{_('產生工具')}}</a>{{_('。')}}</span>
  </div>
</div>
<div class="control-medium">
  <span class="info-block info-inline">
    <i class="icon-info-sign"></i>EPSG: 3826→TWD97, EPSG: 3828→TWD67, EPSG: 4326→WGS84
  </span>
</div>
{{ form.prepend('crs', id='field-crs', prepend='EPSG', label=_("Coordinate Systems"), placeholder=_('eg. 3826'), value=data.get('crs'), error=errors.crs)}}
{{ form.input('spatial_res', id='field-spatial-res', label=_('Spatial Resolution'), placeholder=_('填寫資料空間解析度數值，以公尺為單位'), value=data.get('spatial_res'), error=errors.spatial_res, classes=['control-medium']) }}
{{ form.input('scale', id='field-scale', label=_('Scale'), placeholder=_('填寫資料比例尺之分母'), value=data.get('scale'), error=errors.scale, classes=['control-medium']) }}
{{ form.markdown('preprocessing', id='field-preprocessing', label=_('Preprocessing')
, placeholder=_('以文字描述資料形成所經過之處理過程，建議以各階度或步驟為導向進行填寫'), value=data.get('preprocessing'), error=errors.preproccsing) }}
