{% import 'macros/form.html' as form %}

<div id="book-fields">
  <legend><h2> {{ _('Book') }} </h2></legend>
  {{ form.input('book_isbn', id='field-book-isbn', label=_('ISBN-13'), placeholder=_('978-1-234-56789-7'), value=data.get('book_isbn'), error=errors.book_isbn, classes=['control-medium']) }}
  {{ form.input('book_issn', id='field-book-issn', label=_('ISSN'), placeholder=_('1234-5678'), value=data.get('book_issn'), error=errors.book_issn, classes=['control-medium']) }}
  {{ form.input('book_journal', id='field-book-journal', label=_('Journal'), value=data.get('book_journal'), error=errors.book_journal, classes=['control-medium']) }}
  {{ form.input('book_volume', id='field-book-volume', label=_('Volume'), value=data.get('book_volume'), error=errors.book_volume, classes=['control-medium']) }}
  {{ form.input('book_proceeding', id='field-book-proceeding', label=_('Proceeding'), value=data.get('book_proceeding'), error=errors.book_proceeding, classes=['control-medium']) }}
  {{ form.input('book_location', id='field-book-location', label=_('Location'), value=data.get('book_location'), error=errors.book_location, classes=['control-medium']) }}
  {{ form.input('book_publisher', id='field-book-publisher', label=_('Publisher'), value=data.get('book_publisher'), error=errors.book_publisher, classes=['control-medium'] ) }}
  {{ form.input('book_year', id='field-book-year', label=_('Publication Year'), value=data.get('book_year'), error=errors.book_year, classes=['control-medium']) }}
  {{ form.input('book_query', id='field-book-query', label=_('Book Query'), value=data.get('book_query'), error=errors.book_query, classes=['control-medium']) }}
  {{ form.input('book_url', id='field-book-url', label=_('URL'), value=data.get('book_url'), error=errors.book_url, classes=['control-medium']) }}
  {% snippet 'snippets/hist_material.html', data=data, errors=errors %}
  {{ form.input('book_area_village', id='field-book-area-village', label=_('Village of Research Area'), value=data.get('book_area_village'), error=errors.book_area_village, classes=['control-medium']) }}
  {{ form.input('book_area_religion', id='field-book-area-religion', label=_('Religion of Research Area'), value=data.get('book_area_religion'), error=errors.book_area_religion, classes=['control-medium']) }}
  {{ form.input('book_area_family', id='field-book-area-family', label=_('Family of Research Area'), value=data.get('book_area_family'), error=errors.book_area_family, classes=['control-medium']) }}
  {{ form.input('book_area_reservoir', id='field-book-area-reservoir', label=_('Reservoir of Research Area'), value=data.get('book_area_reservoir'), error=errors.book_area_reservoir, classes=['control-medium']) }}
  {{ form.input('book_area_industry', id='field-book-area-industry', label=_('Industry of Research Area'), value=data.get('book_area_industry'), error=errors.book_area_industry, classes=['control-medium']) }}
  {{ form.input('book_notes', id='field-book-notes', label=_('Notes'), value=data.get('book_notes'), error=errors.book_notes, classes=['control-medium']) }}
</div>

<div id="scanned-image-fields">
  <legend><h2> {{ _('Scanned Image') }} </h2></legend>
  {{ form.input('scan_source', id='field-scan-source', label=_('Scan Source'), value=data.get('scan_source'), error=errors.scan_source, classes=['control-medium']) }}
  {{ form.input('scan_size', id='field-scan-size', label=_('Scan Size'), placeholder=_('填寫原件尺寸大小，單位為公分，如 60x72'), value=data.get('scan_size'), error=errors.scan_size, classes=['control-medium']) }}
  {{ form.input('scan_res', id='field-scan-res', label=_('Scan Resolution'), placeholder=_('填寫掃描解析度數值，單位為 DPI，如 300'), value=data.get('scan_res'), error=errors.scan_res, classes=['control-medium']) }}
</div>

<div id="spatial-type-fields">
  <legend><h2> {{ _('Spatial Type') }} </h2></legend>
  <div class="control-medium">
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>EPSG: 3826→TWD97, EPSG: 3828→TWD67, EPSG: 4326→WGS84
    </span>
  </div>
  {{ form.prepend('crs', id='field-crs', prepend='EPSG', label=_("Coordinate Systems"), placeholder=_('eg. 3826'), value=data.get('crs'), error=errors.crs)}}
  {{ form.input('spatial_res', id='field-spatial-res', label=_('Spatial Resolution'), placeholder=_('填寫資料空間解析度數值，以公尺為單位'), value=data.get('spatial_res'), error=errors.spatial_res, classes=['control-medium']) }}
  {{ form.input('scale', id='field-scale', label=_('Scale'), placeholder=_('填寫資料比例尺之分母'), value=data.get('scale'), error=errors.scale, classes=['control-medium']) }}
  {{ form.markdown('preprocessing', id='field-preprocessing', label=_('Preprocessing') , placeholder=_('以文字描述資料形成所經過之處理過程，建議以各階段或步驟為導向進行填寫'), value=data.get('preprocessing'), error=errors.preproccsing) }}
</div>

{% block scripts %}
  {% resource 'ckanext-taijiang/spatial_sel' %}
  {% resource 'ckanext-taijiang/scripts/data_type_sel.js' %}
{% endblock %}

{% block styles %}
  {% resource 'ckanext-taijiang/styles/map.css' %}
{% endblock %}
