<div class="control-group">
  {% set error = errors.encoding %}
  <label class="control-label" for="field-{{ field_name }}">{{ _("Temporal Resolution") }}</label>
  <div class="controls">
    <select id="field-{{ field_name }}" name="{{ field_name }}" data-module="autocomplete">
      {% for value, label in h.get_temp_res() %}
        <option value="{{ value }}"{% if data.get(field_name) == value %} selected="selected"{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
  </div>
</div>

{% block scripts %}
  {% resource 'ckanext-taijiang/scripts/temp_fields.js' %}
{% endblock %}
