<div class="control-group">
  <span class="info-block info-inline">
    <i class="icon-info-sign"></i>
    {% trans %}This shortcut provides some historical periods for filling temporal information of the dataset.{% endtrans %}
  </span>
  <label class="control-label" for="field-{{ field_name }}">{{ _("Time Period Shortcut") }}</label>
  <div class="controls">
    <select id="field-{{ field_name }}" name="{{ field_name }}" data-module="autocomplete">
      {% for label, start, end in h.get_time_period() %}
        <option data-start="{{ start }}" data-end="{{ end }}">{{ label }}</option>
      {% endfor %}
    </select>
  </div>
</div>

{% resource 'ckanext-taijiang/scripts/time_period.js' %}
